body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-image: url(cms\ background.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow-x: hidden; 
  } 
   
  h1 { 
    margin-bottom: 20px; 
    position: relative; 
    left: 40%; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  } 
   
  form { 
    margin-bottom: 20px; 
  } 
   
  label { 
    display: block; 
    margin-bottom: 10px; 
  } 
   
  textarea, input[type="text"] { 
    width: 100%; 
    padding: 5px; 
    margin-bottom: 10px; 
  } 
   
  input[type="submit"] { 
    padding: 10px 20px; 
    background-color: #337ab7; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
  } 
   
  #detailsContainer { 
    margin-top: 30px; 
  } 
   
  #detailsContainer h1 { 
    font-size: 24px; 
    margin-bottom: 10px; 
  } 
   
  #detailsContainer h2 { 
    font-size: 18px; 
    margin-bottom: 5px; 
  } 
   
  #detailsContainer p { 
    margin-bottom: 10px; 
  } 
   
  #detailsContainer img { 
    max-width: 100%; 
    margin-bottom: 10px; 
  } 
   
  .button{ 
    position:relative; 
    display:inline-block; 
    margin:20px; 
  } 
   
  .button input{ 
    color:black; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight:bold; 
    font-size:16px; 
    text-align: center; 
    text-decoration:none; 
    background-color:#07c9ff; 
    display:block; 
    position:relative; 
    padding:20px 40px; 
     
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    text-shadow: 0px 1px 0px #000; 
    filter: dropshadow(color=#000, offx=0px, offy=1px); 
     
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100; 
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100; 
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100; 
     
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
  } 
   
  .button input:active{ 
    top:10px; 
    background-color:#F78900; 
     
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100; 
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100; 
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100; 
  } 
   
  .button:after{ 
    content:""; 
    height:100%; 
    width:100%; 
    padding:4px; 
    position: absolute; 
    bottom:-15px; 
    left:-4px; 
    z-index:-1; 
    background-color:#2B1800; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
  }